
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #096C45;
    --md-primary-fg-color--dark:  #096C45;
    --md-accent-fg-color:#B86300;
    --md-accent-bg-color:#B86300;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #096C45;
    --md-primary-fg-color--light: #096C45;
    --md-accent-fg-color:#B86300;
}

